<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Wildlife</title>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="nav-container">
          <a href="index.html"><h4>WILDLIFE</h4></a>
          <ul class="nav_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
          <button id="close-mneu-btn"><i class="uil uil-multiply"></i></button>
        </div>
      </div>
    </nav>

    <header>
      <div class="container header_container">
        <div class="header_left">
          <h1>Welcome to Go Wildlife</h1>
          <p>
            A website which is made with Go, and has the collection of amazin
            animals. We also have an api thorugh which you can fetch the data of
            the animals
          </p>
          <a href="/api/animals" class="btn btn-primary">API</a>
        </div>

        <div class="header_right">
          <div class="header_right-image"></div>
        </div>
      </div>
    </header>

    <script src="index.js"></script>
  </body>
</html>
